<header class="navBar">
  <a href="/profile"><img
      src="/img/usuario.png"
      alt="Imagen de perfil"
      class="navImg"
    /></a>
  <div>
    <p>Bienvenido
      <span class="bold">{{user.first_name}}
        {{#if user.last_name}}{{user.last_name}}{{/if}}</span>!</p>
    {{#if user.email}}
      <p><span class="bold">Email: </span>{{user.email}}</p>
    {{/if}}
    <p><span class="bold">Role: </span>{{user.role}}</p>
  </div>
  <a href="/carts/{{user.cart}}"><img
      src="/img/carrito.png"
      alt="Icono de carrito"
      class="navImg"
    /></a>
  <a href="/logout"><img
      src="/img/logout.png"
      alt="Icono para cierre de sesión"
      class="navImg"
    /></a>
</header>

<section class="bankData">
  <h1>Datos bancarios</h1>

  <form class="payment-form">
    <div id="card-element"></div>
    <div class="paymentButtons">
      <button class="button redButton" id="cancel-payment">Cancel Payment</button>
      <button
        type="submit"
        class="button buy"
        id="submit-payment"
        data-cart-id="{{user.cart}}"
      >Pay</button>
    </div>
  </form>

</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/products-cart/checkout.js"></script>