<header class="navBar">
    <a href="/profile"><img src="/img/usuario.png" alt="Imagen de perfil" class="navImg"></a>
    <div>
        <p>Bienvenido <span class="bold">{{user.first_name}} {{#if user.last_name}}{{user.last_name}}{{/if}}</span>!</p>
        {{#if user.email}} <p><span class="bold">Email: </span>{{user.email}}</p> {{/if}}
        <p><span class="bold">Role: </span>{{user.role}}</p>
    </div>
    <a href="/carts/{{user.cart}}"><img src="/img/carrito.png" alt="Icono de carrito" class="navImg"></a>
    <a href="/logout"><img src="/img/logout.png" alt="Icono para cierre de sesión" class="navImg"></a>
</header>

<section class="productDetailContainer">
    <h1>Detalle del producto</h1>
    <article>
        <h3>{{product.title}}</h3>
        <p><span class="bold">Id: </span>{{product._id}}</p>
        <p><span class="bold">Description: </span>{{product.description}}</p>
        <p><span class="bold">Code: </span>{{product.code}}</p>
        <p><span class="bold">Price: </span>${{product.price}}</p>
        <p><span class="bold">Stock: </span>{{product.stock}}</p>
        <p><span class="bold">Category: </span>{{product.category}}</p>
        <p><span class="bold">Status: </span>
            {{#if product.stock}}
            Available </p>
        <button class="button greenButton addToCartButton" data-user-id="{{user.userId}}" data-cart-id="{{user.cart}}"
            data-product-id="{{product._id}}">Add
            to
            Cart</button>
        {{else}}
        Not Available
        </p>
        {{/if}}
    </article>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-cart/product.detail.js"></script>