<header class="navBar">
    <a href="/profile"><img src="/img/usuario.png" alt="Imagen de perfil" class="navImg"></a>
    <div>
        <p>Bienvenido <span class="bold">{{user.first_name}} {{#if user.last_name}}{{user.last_name}}{{/if}}</span>!</p>
        {{#if user.email}} <p><span class="bold">Email: </span>{{user.email}}</p> {{/if}}
        <p><span class="bold">Role: </span>{{user.role}}</p>
    </div>
    <a href="/carts/{{user.cart}}"><img src="/img/carrito.png" alt="Icono de carrito" class="navImg"></a>
    <a href="/logout"><img src="/img/logout.png" alt="Icono para cierre de sesión" class="navImg"></a>
</header>

<section class="productsContainer">
    <h1>Lista de productos</h1>
    {{#if noProducts}}
    <p>No hay productos disponibles</p>
    {{else}}
    <table id="productos" class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Stock</th>
            <th>Status</th>
            <th>Options</th>
        </tr>

        {{#each products}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.stock}}</td>
            {{#if this.stock}}
            <td>Available</td>
            {{else}}
            <td>Not Available</td>
            {{/if}}
            <td>
                {{#each this.thumbnails}}
        <img src="{{this}}" alt="Thumbnail">
      {{/each}}
                <div class="productOptions">
                    <a href="products/{{this._id}}"><i class="fas fa-info-circle"></i></a>
                    {{#if this.stock}}
                    <button class="button greenButton addToCartButton" data-user-id="{{../user.userId}}" data-cart-id="{{../user.cart}}"
                        data-product-id="{{this._id}}">Agregar
                        al 
                        carrito</button>
                    {{/if}}
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
    <article class="pagination">
        <p>Page {{productsData.page}} de {{productsData.totalPages}}</p>
        <div class="linksContainer">
            {{#if productsData.hasPrevPage}}
            <a href="{{generatePaginationLink productsData.prevPage}}" class="bold">Prev Page</a>
            {{/if}}
            {{#if productsData.hasNextPage}}
            <a href="{{generatePaginationLink productsData.nextPage}}" class="bold">Next Page</a>
            {{/if}}
        </div>
    </article>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products-cart/product.js"></script>