<header class="navBar">
  <a href="/profile"><img
      src="/img/usuario.png"
      alt="Imagen de perfil"
      class="navImg"
    /></a>
  <div>
    <p>Welcome
      <span class="bold">{{user.first_name}}
        {{#if user.last_name}}{{user.last_name}}{{/if}}</span>!</p>
    {{#if user.email}}
      <p><span class="bold">Email: </span>{{user.email}}</p>
    {{/if}}
    <p><span class="bold">Role: </span>{{user.role}}</p>
  </div>
  <a href="/carts/{{user.cart}}"><img
      src="/img/carrito.png"
      alt="Icono de carrito"
      class="navImg"
    /></a>
  <a href="/logout"><img
      src="/img/logout.png"
      alt="Icono para cierre de sesión"
      class="navImg"
    /></a>
</header>

<section class="productsContainer">
  {{#if noProducts}}
    <h1>Cart Empty</h1>
  {{else}}
    <h1>CART DETAIL</h1>
    <table id="productos" class="table">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Code</th>
        <th>Price</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>

      {{#each productsInCart}}
        <tr>
          <td>{{this.product._id}}</td>
          <td>{{this.product.title}}</td>
          <td>{{this.product.description}}</td>
          <td>{{this.product.code}}</td>
          <td>{{this.product.price}}</td>
          <td>{{this.product.category}}</td>
          <td>{{this.quantity}}</td>
        </tr>
      {{/each}}
    </table>
    <div class="totals">
      <p><span class="bold">Total Quantity: </span>{{totalQuantity}}u</p>
      <p><span class="bold">Total Price: </span>${{totalPrice}}</p>
    </div>

    <div class="buttonsCart">
      <button
        id="deleteCartButton"
        data-cart-id="{{user.cart}}"
        class="button redButton"
      >DELETE</button>
      <button
        class="button greenButton"
        id="checkoutButton"
        data-cart-id="{{user.cart}}"
      >CHECKOUT</button>
    </div>
  {{/if}}
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products-cart/cart.js"></script>